#quick-links-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-40%, 50%);
    width: 80%;
    height: 40%;
    
    margin-left: -5%;
    margin-right: -5%;

    display: grid;
    grid-template-columns: repeat(3, auto);
    
    gap: 10%;
    
    justify-content: center;
    align-items: center;
}


.grid {
    display: flex;
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

.grid-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin-top: 5%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    padding-bottom: 80%;
    position: relative;

    transition: transform 0.3s ease;
}

.grid-item img {
    width: 100%;
    border-radius: 2%;

    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.05); /* Enlarge the image on hover */
}

.grid-item p {
    margin-top: 5%;
    text-align: center;

    color: #E6E6E6;
    font-family: 'Montserrat-SemiBold';
    font-size: 1.15vw;


    height: 25%; /* Set a fixed height */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */

    text-shadow: -20px 20px 12px rgba(0, 0, 0, 0.3);

    transition: font-size 0.3s ease;
}

.grid-item:hover p {
    font-size: 1.2vw;
}



@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container {
        width: 90%;
    }

    .grid-item p {
        font-size: 2dvw;
    }
}
